<strong>Olá, {{ deliveryman }}</strong>
<p>Houve uma nova encomenda, confira os detalhes abaixo:</p>
<p>
    <strong>Produto:</strong> {{ delivery }}
    <br />
    <strong>Destinatário:</strong> {{ recipient }}
    <br />
    <strong>CEP:</strong> {{ postcode }}
    <br />
    <strong>Estado:</strong> {{ state }}
    <br />
    <strong>Cidade:</strong> {{ city }}
    <br />
    <strong>Rua:</strong> {{ street }}
    <br />
    <strong>Número:</strong> {{ number }}
    <br />
    <strong>Complemento:</strong> {{ complement }}
    <br />
    <br />
    <small>
        Faça a entrega dentro do hórario útil, das 8:00 às 18:00
    </small>
</p>
